body {
	padding-top: 20px;
}

.AudioPlayer {
	display: inline-block;
}

.AudioBlock {
	text-align: center;
}

.AudioBlock div {
	display: inline-block;
}

.SlideContainer > hr:last-of-type {
	display: none;
}

.QuestionHeader {
	text-align: center;
}

label {
	font-weight: normal !important;
}

label.disabled {
    cursor: not-allowed;
    opacity: 0.65;
}

label.btn.disabled {
	pointer-events: all;
	background-position: 0 !important;
}

.SlideName {
	text-transform: capitalize;
}

.Tiny {
	font-size: 50%;
}

.Small {
	font-size: 80%;
}

.Large {
	font-size: 130%;
}

.SingleLineLeft {
	display: block;
	text-align: left;
}

.SingleLineRight {
	display: block;
	text-align: right;
}

.SingleLineCenter {
	display: block;
	text-align: center;
}

.SingleLineJustify {
	display: block;
	text-align: justify;
	height: 1em;
	line-height: 1;
}
.SingleLineJustify:after {
	content: "";
	display: inline-block;
	width: 100%;
}

/*** OneDScale ***/

.OneDScale .ScaleContainer {
	display: table;
}

.OneDScale .ScaleContainer > div {
	display: table-cell;
}

.OneDScale .ScaleContainer .YTicks {
	vertical-align: middle;
	width: 20%;
}

.OneDScale .ScaleContainer .YTicks span {
	display: block;
}

.OneDScale .ScaleContainer .YTicks.Y1 span {
	text-align: right;
}

.OneDScale .ScaleContainer .CenterContainer {
	padding: 0 10px;
}

.OneDScale .ScaleContainer .CenterContainer .container-fluid, .OneDScale .CenterContainer .XTicks > div, .OneDScale .row .YTicks {
	padding-left: 0;
	padding-right: 0;
}

.OneDScale input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: #F0F0F0;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none; /* no focus outline */
}

.OneDScale input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

.OneDScale input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't draw vertical reference line */
  background: transparent;
}

.OneDScale input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

.OneDScale input[type="range"]::-ms-tooltip {
  display: none;
}

.OneDScale input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CCCCCC), color-stop(100%, #AAAAAA )); /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top , #CCCCCC 0, #AAAAAA  100%); /* older mobile safari and android > 2.2 */;
  background-image: linear-gradient(to bottom, #CCCCCC 0, #AAAAAA  100%); /* W3C */
}
.OneDScale input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #CCCCCC 0, #AAAAAA  100%); /* W3C */
}

.OneDScale input[type="range"]::-ms-thumb {
  width: 20px;
  height: 18px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, #CCCCCC 0, #AAAAAA  100%); /* W3C */
}

.OneDScale input[type="range"].NoValue::-webkit-slider-thumb {
	visibility: hidden;
}

.OneDScale input[type="range"].NoValue::-moz-range-thumb{
	visibility: hidden;
}

.OneDScale input[type="range"].NoValue::-ms-thumb {
	visibility: hidden;
}

/*** KAcPS ***/

.KAcPS .Scale {
	margin: 0 auto;
	display: table;
	min-width: 50%;
}

.KAcPS .Scale .Item {
	display: table-cell;
	height: 50px;
	padding: 5px;
	text-align: center;
}

.KAcPS .Scale .Item > div > button {
	display: block;
	margin: 0 auto;
}

.KAcPS .Scale input[type="radio"]  {
	display: none;
}

.KAcPS .Scale .Item > label {
	margin-top: 10px;
	min-width: 50px;
	vertical-align: bottom;
}

.KAcPS .Scale .Item > .Filler {
	visibility: hidden;
}

.KAcPS .Scale .Item > .Stimulus~label {
	
	margin-top: 10px;
}

.KAcPS .Scale input[type="radio"]+label .glyphicon  {
	display: none;
}

.KAcPS .Scale input[type="radio"]:checked+label .glyphicon  {
	display: inline;
}

/*** LikertScale ***/

.LikertScale .Scale {
	margin: 0 auto;
	display: table;
	min-width: 50%;
}

.LikertScale .Scale > label {
	position: relative;
	display: table-cell;
}

.LikertScale .Scale .Line {
	position: absolute;
	top: 10px;
	left: 0;
	height: 1px;
	width: 100%;
	border-top: 1px solid grey;
}

.LikertScale .Scale .Line {
	position: absolute;
	top: 10px;
	left: 0;
	height: 1px;
	width: 100%;
	border-top: 1px solid grey;
}

.LikertScale .Scale label:first-child .Line {
	left: 50%;
	width: 50%;
}

.LikertScale .Scale label:last-child .Line {
	width: 50%;
	display: inline-block;
}

.LikertScale .Scale > label > input {
	position: relative;
	width: 100%;
	display: inline-block;
}

.LikertScale .Scale > label > span:last-child {
	width: 100%;
	display: inline-block;
}

/*** Text Format ***/

.TextFormat {
	vertical-align: top;
}

.TextFormat textarea.form-control {
	resize: none;
	height: 300px;
}