<div class="navbar navbar-default" role="navigation" data-bind="visible: IsAuthenticated">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Cockpit</a>
		</div>
		<ul class="nav navbar-nav navbar-left">
			<li class="dropdown" data-bind="css: { active: Page().Name() == 'Projects/Projects' }">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#Search">My Project 1</a></li>
					<li><a href="#Search">My Other Project</a></li>
					<li class="divider"></li>
					<li><a href="#Projects">More</a></li>
				</ul>
			</li>
			<li data-bind="css: { active: Page().Name() == 'Search/Search' }"><a href="#Search">Search</a></li>
			<li data-bind="css: { active: Page().Name() == 'Selections/Selections' }"><a href="#Selections">Selections</a></li>
			<li data-bind="css: { active: Page().Name() == 'Experiments/Experiments' }"><a href="#Experiments">Experiments</a></li>
		</ul>
	</div>
</div>
<div class="Content" data-bind="component: Page().Name"></div>