<h2>Search</h2>
<div class="SearchPage">
	<form class="form-inline" role="form" data-bind="submit: Search">
		<div class="form-group">
			<div class="input-group">
				<input type="search" class="form-control" placeholder="Search query" data-bind="value: Query" />
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit"><span class=" glyphicon glyphicon-search"></span></button>
				</span>
			</div>
		</div>
	</form>
	<div>
		<span data-bind="text: SelectedSearchResults().length"></span> selected search results
		<button type="button" class="btn btn-default" data-bind="click: CreateSelection, enable: SelectedSearchResults().length != 0">Create Selection</button>
	</div>
	<div data-bind="foreach:Results">
		<div class="SearchResult" data-bind="click: Select, css: { Selected: $parent.HighlightedSearchResult() == $data }">
			<input type="checkbox" data-bind="checked: Selected" />
			<span data-bind="text: Title"></span>
		</div>
	</div>
	<div data-bind="with: HighlightedSearchResult">
		<p data-bind="text: Title"></p>
	</div>
</div>