<h2>Create Experiment</h2>
<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="ExperimentName" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="ExperimentName" placeholder="My Experiment" data-bind="textInput: Name, enable: !IsCreating()"/>
		</div>
	</div>
	<div class="form-group">
		<label for="ExperimentEmails" class="col-sm-2 control-label">Participant emails</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="ExperimentEmails" placeholder="User1@example.com, User2@example.com, User3@example.com" data-bind="textInput: Emails, enable: !IsCreating()" />
		</div>
	</div>
	<div class="form-group">
		<label for="ExperimentConfiguration" class="col-sm-2 control-label">Configuration</label>
		<div class="col-sm-10">
			<textarea id="ExperimentConfiguration" class="form-control" rows="10" data-bind="textInput: Configuration, enable: !IsCreating()"></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary" data-bind="click: Create, enable: CanCreate">Create</button>
		</div>
	</div>
</form>